.header {
  display: flex;
  align-items: center;
  background-color: transparent;

  &__title {
    margin: 0 auto !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
  }
}

.content {
  padding: 0 3em;
}

.App {
  min-height: 100%;
}